%div.container
    %div.row
        %aside.col-md-4
            %section.product_info
                %h1
                    商品の詳細
                    .card
                        .card-image
                            = image_tag(@product.image_url || "sample.png")
                        .card-content
                            = @product.name
                            = @product.description
                            = @product.display_price
                        .row.mt-20
                            .col.m12.s12.center
                                = link_to product_add_to_baskets_path(@product), method: :post do
                                    .btn.btn-large.productDetail_btn
                                        買い物かごに入れる